<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VWPBJZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->

<header class="site-header"  style="background-color:#508BC5;">

  <div class="wrapper">

    <a href="https://conan.io" class="logo"><img src="/assets/jfrog_conan_logo.png" height="75"></a>
    <a class="site-title" href="{{ site.baseurl }}/">A blog about C++, C, Conan, Building and Devops</a>

  </div>

</header>
