<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK44ZFM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->

<!-- HEADER -->
    <header id="masthead">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <!-- LOGO -->
          <a
            href="{{ site.url }}"
            class="col-10 col-lg-4 d-block"
          >
            <img
              src="{{ site.baseurl }}/assets/logo-conan.png"
              class=""
              alt="JFrog Conan"
            />
          </a>
          <!-- HAMBURGER -->
          <div class="col-2 d-flex d-lg-none align-items-center justify-content-end">
            <button
              class="d-block d-lg-none hamburger hamburger--collapse text-right"
              type="button"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>

          <div class="col-lg-6 text-right d-flex align-items-center justify-content-end">
            <!-- HEADER NAV -->
            <nav
              class="header-nav align-items-center d-lg-flex"
              id="headerNav"
            >
              <a
                href="https://github.com/conan-io/conan"
                class="btn bg-bright-gray"
                rel="nofollow"
              >
                <img
                  src="{{ site.url }}/assets/img/small_github.png"
                  alt="Github"
                />
              </a>
              <a
                href="https://docs.conan.io/"
                class="btn bg-bright-gray black"
              >
                Docs
              </a>
              <a
                href="https://conan.io/center/"
                class="btn bg-blue white"
              >
                <img
                  src="{{ site.url }}/assets/img/small-search.png"
                  alt="Search"
                /> Conan-Center
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
