<head>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WK44ZFM');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/select2.min.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Enabled with RSS, using with Cpp Alliance Slack -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- SEO -->
  <!-- 
    This tells google this is a preferred page if a duplicate title were to exist
    https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls

    These duplicates exists for the navigation pages which may or may not be no index so this is likely needed
  -->
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

  <!-- 
    This allows the blog to have a visual title (in post UI) while hiding
    a more SEO enabled (i.e longer and more verbose) title for search engines

    It's unclear if Google supports this https://developers.google.com/search/docs/crawling-indexing/special-tags
  -->
  {% if page.meta_title %}
  <meta name="title" content="{{ page.meta_title }}">
  {% elsif page.title %}
  <meta name="title" content="{{ page.title }}">
  {% else %}
  <meta name="title" content="{{ site.title }}"> <!-- Some of the navigation pages (e.g. archives) do not have titles so we give the the default site wide one-->
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% elsif page.excerpt %}
    <!-- 
      Not all of the oldest blogs have a description so we give the the first paragraph.
      This is shortened because Google Results only shows a certain amount 
      https://seopressor.com/blog/google-title-meta-descriptions-length/
    -->
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"> 
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

   <!-- It's unclear if Google supports this https://developers.google.com/search/docs/crawling-indexing/special-tags -->
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

   <!-- These pages are for human navigation and are already index from the pagination -->
  {% if page.url contains "month-archive" %}
     <meta name="robots" content="noindex" />
  {% endif %}
</head>
