<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK44ZFM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->

<header class="site-header"  style="background-color:#508BC5;">

  <div class="wrapper" id="conan_logo">

    <a href="https://conan.io" class="logo"><img src="/assets/jfrog_conan_logo.png" height="50"></a>
  </div>
  <div class="wrapper" id="blog_title">
    <a class="site-title" href="{{ site.baseurl }}/">A blog about C, C++, Conan, Binaries and Devops</a>
  </div>

</header>
