<head>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WK44ZFM');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/select2.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
  <meta name="title" content="{{ page.title }}">
  {% if page.ishomepage == true %}
    <link rel="canonical" href="{{ page.canonical }}">
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="title" content="{%- if page.meta_title -%}
        {{ page.meta_title }}
      {%- else -%}
        {{ page.title }}
      {% endif %}">
    <meta name="description" content="{%- if page.meta_description -%}
        {{ page.meta_description }}
      {%- elsif page.excerpt -%}
        {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {%- else -%}
        {{ site.description }}
      {% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.url contains "month-archive" %}
     <meta name="robots" content="noindex" />
  {% endif %}
</head>
