<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.name != "search.html" %}
    <div class="grid" id="searchBar">
        <div>
            <div id="search">
                <form role="search" method="get" action="{{ site.url }}/search">
                    <input id="searchString" name="searchString" type="text">
                    <input id="searchButton" name="googleSearchButton" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
    {% endif %}



    <div class="page-content{% if layout.comments %} content-post{% else %} content-home{% endif %}">
      <div class="wrapper">

        <!-- MOBILE BANNER -->
        <ul class="post-page-top-banner-holder">
          <li class="banner conan-banner-mobile">
            <a href="https://conandays.conan.io/" target="_blank" class="conan-gat-banner">
              <img src="../../../assets/cd_mobile_back.png" class="cd-back cd-mobile-back" alt="Conan days - Register">
              <img src="../../../assets/campfire_small.gif" alt="Conan days - Register" class="flame">
              <div class="banner-abs-content">
                <h2>
                  GATHERING THE TRIBES
                </h2>
                <h3>
                  March 19-20 | Madrid
                </h3>
                <div class="banner-button">
                  REGISTER
                </div>
              </div>
            </a>
          </li>

          <!-- TABLET BANNER -->
          <li class="banner conan-banner-desktop">
             <a href="https://conandays.conan.io/" target="_blank" class="conan-gat-banner">
               <img src="../../../assets/cd_background_tinified.png" class="cd-back cd-desktop-back" alt="Conan days - Register">
               <img src="../../../assets/campfire_small.gif" alt="Conan days - Register" class="flame">
               <div class="banner-abs-content">
                 <h2>
                   GATHERING THE TRIBES
                 </h2>
                 <h3>
                   March 19-20 | Madrid
                 </h3>
                 <div class="banner-button">
                   REGISTER
                 </div>
               </div>
             </a>
         </li>
        </ul>



        {{ content }}
      </div>
    </div>


    {% include footer.html %}

    <script id="dsq-count-scr" src="//conanstaging.disqus.com/count.js" async></script>
  </body>

</html>
