<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="newsletter-container">
        <div class="newsletter-div">
            <p>Sign up for release updates</p>
            <script src="//app-lon04.marketo.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1479"></form>
            <script>MktoForms2.loadForm("//app-lon04.marketo.com", "256-FNZ-187", 1479);</script>
        </div>
    </div>
    {% include footer.html %}
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-68594724-4', 'auto');
		ga('send', 'pageview');
    </script>
    <script id="dsq-count-scr" src="//conanstaging.disqus.com/count.js" async></script>
  </body>

</html>
