---
layout: default
comments: true
---
<!-- FIXED BANNER / remove class ".banner-article" from <article> when removing the banner -->
<div class="fixed-cd-banner">
  <a href="https://conandays.conan.io/" target="_blank" class="conan-gat-banner">
    <img src="../../../assets/CONAN_BANNER_240X360.jpg" class="cd-back cd-desktop-back" alt="Conan days - Register">
    <img src="../../../assets/campfire_small.gif" alt="Conan days - Register" class="flame">
    <div class="banner-abs-content">
      <h2>
        GATHERING
      </h2>
      <h2>
        THE TRIBES
      </h2>
      <h3>
        March 19-20 | Madrid
      </h3>
      <div class="banner-button">
        REGISTER
      </div>
    </div>
  </a>
</div>
<!-- END OF FIXED BANNER -->
<article class="post banner-article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	{% if page.subtitle %}
    <h1><small>{{ page.subtitle }}</small></h1>
    {% endif %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} • <span itemprop="time-to-read" itemscope itemtype="http://schema.org/Text"><span itemprop="time-to-read">{% include reading-time.html %}</span></span></p>

    {% include share-buttons.html %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% if page.comments %}
	<div id="disqus_thread"></div>

	<script>
	    /**
	     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	     */
	    /*
	    var disqus_config = function () {
		this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = {{ page.url }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	    };
	    */
	    (function() {  // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');

		s.src = '//conancpp.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	    })();
	</script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



  {% endif %}

</article>
